*{
    margin: 0;
    padding: 0;
}


.homebutton:hover{
    color: lightblue;
    font-size: 30px;
}

.googlebutton:active{
    color: red;
    font-style: italic;

}

.overigebutton:visited{
    color: yellow;
}

.textveld textarea:focus{
    color: green;
    font-size: 20px;
}

.navigatiemenu{
    display: flex;
    justify-content: flex-start;
    background-color:darkblue;
    color:darkgoldenrod;
}

.navigatiemenu ul li{
    display: inline-block;
    padding: 20px;
    border-right: 2px solid white;
}

.navigatiemenu ul li a{
    text-decoration: none;
}

.navigatiemenu ul li:hover{
    background-color: yellow;
}

li .googlebutton{
    background-color: grey;
}

.navigatiemenu ul li input:focus{
    border: green solid 5px;
}

.navigatiemenu ul li:hover{
    background-color: lightblue;
}

.navigatiemenu ul li input:focus{
    border: aqua solid 5px;
}